<?xml version="1.0"?>
<HongXu>
  <Version>1.0</Version>
  <CopyRight>红旭集团</CopyRight>
  <DbConn>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Product.mdb;</DbConn>
  <DbType>access</DbType>
  <Prefix>HX_</Prefix>
  <ClientID>2</ClientID>
  <Timestamp>60</Timestamp>
  <PrivateKey>gM8QG2Bjzvx14RvXkeYm09M9KYNDAsikt2QNx3+d+F2I5csxqg40Xe6f2s/mELGeciNY/XE12VGy6Spo6jXwgRGpFYtcBK5uvYx8EQQNgnZiR1JLvTmuYGPXN/mu4SRmsQ7gIuF++T2YgEUoJeVtmNr06ASh4VJOJkX0RJ6Ne9oB0MydPqRMgtruzSysrKeeKiqXQdhx/eMCbe7G9CxWMqzy2CK/Fe0Dyw1Fo7zR1ZUAYpytu2F5qhWo5DcJkzOEfX9qkSisy/ToVRxUICmapEVovVP0cg0bTpfbv66UsmkK9E4Xt+cmB57Y3OpsuD7gvodLxeq9RKRX9gJgmzHxBv8=</PrivateKey>
</HongXu>